div.header {
  width: 100%;
  height: 47px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  overflow: visible;
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.05);
  z-index: 10;
}

div.logo-container {
  height: 24px;
  margin: 12px 12px 11px 12px;
  user-select: none;
}

div.filler {
  flex-grow: 1;
}

div.theme-switch-container {
  width: 96px;
  height: 24px;
  margin: 12px 12px 11px 12px;
}

div.divider {
  width: 1px;
  height: 24px;
  background-color: var(--border-color);
  margin: 12px 0px 12px 0px;
}

div.user-switch-container {
  height: 47px;
}
