<app-header></app-header>

<div class="content">
  <div class="sidebar">
    <app-nav-menu></app-nav-menu>
  </div>
  <div class="main-content">
    <!--<div class="breadcrumb">
      <span class="breadcrumb-item">Website Redesign</span>
      <span class="breadcrumb-divider">/</span>
      <span class="breadcrumb-item">Overview</span>
    </div>-->
    <router-outlet></router-outlet>
  </div>
</div>
<app-create-project-modal></app-create-project-modal>
<app-edit-project-modal></app-edit-project-modal>
<app-delete-project-modal></app-delete-project-modal>
<app-create-epic-modal></app-create-epic-modal>
<app-edit-epic-modal></app-edit-epic-modal>
<app-delete-epic-modal></app-delete-epic-modal>
<app-create-issue-modal></app-create-issue-modal>
<app-edit-issue-modal></app-edit-issue-modal>
<app-delete-issue-modal></app-delete-issue-modal>
