<div *ngIf="modalVisible" class="modal-container">
  <div class="modal-left" (click)="cancelModal()">

  </div>
  <div class="modal-right">
    <div class="modal-right-header">
      <h2 class="modal-right-header">Delete "{{epic.name}}"?</h2>
    </div>
    <div class="modal-right-content">
      <div class="modal-confirmation">
        Are you sure you wish to delete this epic?
      </div>
    </div>
    <div class="modal-right-footer">
      <div class="modal-right-footer-filler"></div>
      <button class="secondary" (click)="cancelModal()">Cancel</button>
      <button class="primary" (click)="deleteEpic()">Delete</button>
    </div>
  </div>
</div>
