<div class="home-upper">
  <div class="home-filler"></div>
  <div class="home-intro">
    <h1 class="home-intro-header">Manage your sprints with ease</h1>
    <p>
      Spriint is a project management tool that will help you stay ahead in the race to complete your agile project.
    </p>
    <p>
      Keep track of your day-to-day development with user stories and bugs, but never lose sight of the bigger picture with epics.
    </p>
  </div>
  <div class="home-filler"></div>
  <div class="home-graphics">
    <svg xmlns="http://www.w3.org/2000/svg" class="bubbles" viewBox="0 0 480 480"><defs><style>
                                                                          .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6 {
                                                                            fill: #5e53b0;
                                                                          }

                                                                          .cls-1 {
                                                                            opacity: 0.1;
                                                                          }

                                                                          .cls-2 {
                                                                            opacity: 0.2;
                                                                          }

                                                                          .cls-3 {
                                                                            opacity: 0.4;
                                                                          }

                                                                          .cls-4 {
                                                                            opacity: 0.6;
                                                                          }

                                                                          .cls-5 {
                                                                            opacity: 0.8;
                                                                          }
    </style></defs><title>Bubbles</title><g id="Bubbles"><path id="_480" data-name="480" class="cls-1" d="M0,0C0,265.1,214.9,480,480,480V0Z" /><path id="_400" data-name="400" class="cls-2" d="M80,0c0,220.91,179.09,400,400,400V0Z" /><path id="_320" data-name="320" class="cls-3" d="M160,0c0,176.73,143.27,320,320,320V0Z" /><path id="_240" data-name="240" class="cls-4" d="M240,0c0,132.55,107.45,240,240,240V0Z" /><path id="_160" data-name="160" class="cls-5" d="M320,0A160,160,0,0,0,480,160V0Z" /><path id="_80" data-name="80" class="cls-6" d="M400,0a80,80,0,0,0,80,80V0Z" /></g></svg>
  </div>
  <div class="home-filler"></div>
</div>
